src/main/mule/generic-form-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="generic-form-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="generic-form-api-config" api="generic-form-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="generic-form-api-main">
        <http:listener config-ref="generic-form-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="generic-form-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="generic-form-api-console">
        <http:listener config-ref="generic-form-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="generic-form-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\nous\mulesoftforms\get:generic-form-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="26eb8a09-5030-4364-8c25-71540caee02a" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="370977db-3c1a-4e72-880c-805be9af8cd4" name="get-form"/>
    </flow>
    <flow name="post:\nous\mulesoftforms\generate\(envelop-id):application\json:generic-form-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="adece570-b8b4-49a5-9e1e-32af69458490" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="ece14903-294d-4a22-b05d-0a611a3bb5e7" message="#[attributes.uriParams.'envelop-id']"/>
		<flow-ref doc:name="Flow Reference" doc:id="5409dfb1-e00a-4140-865d-02cf7fd5d779" name="generate-form-link"/>
		<logger level="INFO" doc:name="Logger" doc:id="d1e3d315-7581-439e-be2a-061ca85f5d87" message="#[payload]"/>
    </flow>
    <flow name="post:\nous\mulesoftforms\submit-document:multipart\form-data:generic-form-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="c7236ec6-f9d1-4a4e-a329-4a46190dae42" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="8d08e818-0bb6-4424-9184-821b01433bfd" name="insert-html-documents-implementationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="cc21a0f1-b46e-4668-8d77-0d288c02fbd3" message="#[payload]"/>
    </flow>
    <flow name="post:\nous\mulesoftforms\submit:multipart\form-data:generic-form-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="0546490f-ec05-490c-979a-7875279dfd64" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="6734c00d-a6b1-4fb2-ab59-3f43442d07f1" name="mulesoft-formsFlow"/>
    </flow>
</mule>
